---
const { name, image, favorite_emoji, github_permalink, github_profile, codepen_profile } = Astro.props;
const slug = name.toLowerCase().replace(/\s+/g, "-");
---

<figure class="card">
  <img src={image} alt={name} loading="lazy" />
  <figcaption class="card-name">
    <a href={`/${slug}`}><span class="card-emoji">{favorite_emoji}</span> {name}</a>
  </figcaption>
  <nav class="card-links">
    <a href={github_permalink} target="_blank" rel="noopener">Portfolio</a>
    <a href={github_profile} target="_blank" rel="noopener">GitHub</a>
    <a href={codepen_profile} target="_blank" rel="noopener">CodePen</a>
  </nav>
</figure>

<style>
  .card {
    border: 0;
    padding: 1rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid lightgray;
    background: #333;
    font-family: 'Tanker', sans-serif;
  }

  .card img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    display: block;
  }

  .card-name {
    margin-top: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.3s ease;
      
    }

  .card-name a {
    text-decoration: none;
    color: #B7142E;
  }

  .card-emoji {
  
  }

  .card-links {
    display: flex;
    gap: .75rem;
    margin-top: auto;
    font-size: 1.25rem;
    
  }

  .card-links a {
    text-decoration: none;
    color: #ccc;
    transition: all 0.3s ease;
  }

  .card-links a:hover {
    scale: 1.05;
    color: white;
  }

  .card-name:hover{
    scale: 1.05;
  }
</style>
